[submodule "btstack"]
	path = btstack
	url = git@github.com:lupinglui/btstack.git
	branch = bthack_mods
[submodule "btlejack"]
	path = btlejack
	url = git@github.com:maxdos64/btlejack.git
	branch = disable_fix
